{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    <div class="intro">
      開発手法とツール
    </div><!--//intro-->
    {% for skill in skills.development %}
    <div class="item">
      <h3 class="level-title2">{{ skill.name }}</h3>
      <div class="level-bar2">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->
    {% endfor %}
  </div>

  <div class="skillset">
    <div class="intro">
      プログラミング言語とフレームワーク
    </div><!--//intro-->
    {% for skill in skills.programming %}
    <div class="item">
      <h3 class="level-title2">{{ skill.name }}</h3>
      <div class="level-bar2">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->
    {% endfor %}
  </div>

  <div class="skillset">
    <div class="intro">
      その他
    </div><!--//intro-->
    {% for skill in skills.others %}
    <div class="item">
      <h3 class="level-title2">{{ skill.name }}</h3>
      <div class="level-bar2">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->
    </div><!--//item-->
    {% endfor %}
  </div>

</section><!--//skills-section-->
{% endif %}
